server:
  port: 8086

spring:
  application:
    name: analytics-service

  # REDIS CONFIGURATION
  data:
    redis:
      host: redis
      port: 6379
      # password: (Docker wala default bina password ke hota hai)

  # KAFKA CONFIGURATION
  kafka:
    consumer:
      bootstrap-servers: kafka:29092
      group-id: analytics-group-v2
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: false
        spring.json.value.default.type: com.fitness.analytics_service.dto.ActivityEvent

# EUREKA & CONFIG SERVER
eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true