server:
  port: 8084

spring:
  application:
    name: orchestrator-service
  kafka:
    consumer:
      bootstrap-servers: kafka:29092
      group-id: orchestrator-group-v2
      auto-offset-reset: latest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: false
        spring.json.value.default.type: com.fitness.orchestrator_service.dto.AiRecommendationEvent

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true