spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/fitness-micro-user
    username: postgres
    password: Anant123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    org.springframework.boot.autoconfigure.jdbc: DEBUG

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

server:
  port: 8081
